# Dependencies
/online-store-frontend/node_modules
/online-store-backend/node_modules

# Build artifacts
/online-store-frontend/build

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# macOS
.DS_Store

# IDE-specific
.idea/
.vscode/
 
# User-uploaded content
/online-store-backend/static/
